@import "tailwindcss";

* {
  font-family: Outfit;
  cursor: none;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply antialiased;
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
