.wrapper {
  /* background: #050505; */
  color: #fff;
  padding: 100px 32px;
  max-width: 80rem;
  margin: 0 auto;
}

.heading {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-bottom: 60px;
}

.heading span {
  flex: 1;
  height: 1px;
  background: rgba(255, 255, 255, 0.1);
}

.heading p {
  font-size: 12px;
  letter-spacing: 5px;
  color: #8b8b8b;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.cards :global(.feature-card) {
  background: #0b0b0b;
  border: 1px solid rgba(255, 255, 255, 0.06);
  border-radius: 24px;
  padding: 32px;
  transition: all 0.3s ease;
}

.cards :global(.feature-card:hover) {
  transform: translateY(-4px);
  border-color: rgba(138, 92, 246, 0.3);
}

.cards :global(.icon) {
  font-size: 30px;
  margin-bottom: 24px;
  color: #f7a940;
}

.cards :global(h3) {
  font-size: 28px;
  margin-bottom: 16px;
}

.cards :global(p) {
  line-height: 1.8;
  color: #a0a0a0;
}

.bottomSection {
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 40px;
}

.content h2 {
  font-size: clamp(2rem, 4vw, 4rem);
  line-height: 1.2;
  max-width: 650px;
}

.content h2 span {
  color: #a78bfa;
}

.content p {
  margin-top: 20px;
  color: #a0a0a0;
  font-size: 1.1rem;
}

.contact-links {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}

.contact-links a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #9f9f9f;
  text-decoration: none;
  transition: 0.3s;
}

.contact-links a:hover {
  color: white;
}

.contact-links svg {
  font-size: 24px;
}

/* Tablet */

@media (max-width: 1024px) {
  .cards {
    grid-template-columns: 1fr;
  }

  .bottomSection {
    flex-direction: column;
    align-items: flex-start;
  }
}

/* Mobile */

@media (max-width: 768px) {
  .wrapper {
    padding: 70px 20px;
  }

  .cards :global(.feature-card) {
    padding: 24px;
  }

  .cards :global(h3) {
    font-size: 22px;
  }

  .content h2 {
    font-size: 2.2rem;
  }

  .contact-links {
    gap: 20px;
  }

  .contact-links a span {
    display: none;
  }
}